body{
 background-color: #1c1b1d;
 overscroll-behavior: none;
}
.navb{
    margin: 5px;
    width: 98%;
    height: 120px;
    border-radius: 7px;
    border: 2px solid #383639;
    box-shadow: 2px 2px 50px #0dcdb772;
    backdrop-filter: blur(2px);
}
.lang{
    color:#0dcdb7 ;
    font-size: large;
    margin-left: 20PX;
}
.lang:hover{
    color: #fff;
    border-bottom: 2px solid #0dcdb7;
}
.nav-link{color: gray;}
.nav-link:hover{
    color: #0dcdb7;
    border-bottom: 2px solid #0dcdb7;
}
.top{
    
    background-image: url("../imgs/background.webp");
    width: 100%;
   }
.topchild{
    
    background-color: #222222f0;
    border-radius: 7px;
    border: 2px solid#383639;
    box-shadow: 2px 2px 50px #0dcdb772;
    backdrop-filter: blur(2px);
    margin-top: 140px;
    margin-bottom: 4px;

    min-height:600px ;
    width:90% ;

    
}
.dean{

        border-radius: 7%;
        width: 400px;
    }

@keyframes scaleUp {
  to {
    transform: scale(1.04);
  }
}
.card::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
   background: linear-gradient(#ffffff1c,#ffffff5b,#ffffff27);
    /* background-color: #b786529f; */
    height: 20%;
    width: 100%;
    z-index: 5;
    transition: top 0.8s ease;
}
.card{
    overflow: hidden;
}
.card img{
    transition: transform 2s ease;
}


.card:hover::after{
top: 0px;
}
.card:hover::before{
top: -20%;
}
.card:hover{
    background-color: black;
    box-shadow: 2px 2px 30px white;
    transition: 0.5s;
      animation: scaleUp 0.4s forwards;

}
.slider{

    border:  #383639 2px solid;
    border-radius: 7px;
    box-shadow: 2px 2px 50px #0dcdb772;
    max-width: 90%;
    margin: 20px;
}
.bottom{background-color: #000;
}
.links{
    border: #383639 2px solid;
    border-radius: 7px;
    box-shadow: 2px 2px 50px #0dcdb772;
    width: 350px;
    height: 400px;
    margin: 20px;
}
.cs{ 
    border:  gray solid 2px;

}